<div ng-controller="championsController as champions">
  <ul>
    <li ng-repeat="champion in summoner.champArray">
      <img ng-src="http://ddragon.leagueoflegends.com/cdn/5.24.2/img/champion/{{ champions.champions.data[champion.id].image.full }} ">
      <button ng-click="summoner.showStats(champion)" type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal{{ champion.id }}">
        {{ champions.champions.data[champion.id].name }}
      </button>
      <div class="skill_bar">
        <div class="skill_bar_progress skill_percent" id="skill_percent{{ champion.id }}">
          <p class="barText">Skill: {{ champion.skillPercent }} %</p>
        </div>    
      </div>

      <div class="modal fade" id="myModal{{ champion.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Champion stuff</h4>
            </div>
            <div class="modal-body">
            <div>
              <img class="splash" ng-src="http://ddragon.leagueoflegends.com/cdn/img/champion/splash/{{ champions.stopGap(champions.champions.data[champion.id].name) }}_0.jpg ">
            </div>
            <ul>
              <li>{{ champions.champions.data[champion.id].name }}
              </li>
              <li><p>Skill</p>
              <div class="skill_bar_sub">
                <div class="skill_bar_progress skill_percent" id="skill_subpercent{{ champion.id }}">
                  <p class="barText">{{ champion.skillPercent }} %</p>
                </div>    
              </div>
              </li>
              <li><p>Winrate</p>
                <div class="skill_bar_sub">
                  <div class="skill_bar_progress skill_winrate" id="skill_winrate{{ champion.id }}">
                    <p class="barText">{{ champion.percentWon }} %</p>
                  </div>    
                </div>
              </li>
              <li><p>KDA</p>
                <div class="skill_bar_sub">
                  <div class="skill_bar_progress skill_kda" id="skill_kda{{ champion.id }}">
                    <p class="barText">{{ champion.killParticipation }} %</p>
                  </div>    
                </div>
              </li>
            </ul>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
  <button ng-click="champions.check()">check</button>
</div>