<div ng-controller="championsController as champions">
  <ul>
    <li ng-repeat="champion in summoner.champArray">
      <img ng-src="http://ddragon.leagueoflegends.com/cdn/5.24.2/img/champion/{{ champions.champions.data[champion.id].image.full }} ">
      <button ng-click="champions.setChampion(champion)">Champion details</button>
      {{ champion.id }} {{ champions.champions.data[champion.id].name }} games won: {{ champion.stats.totalSessionsWon }}
    </li>
  </ul>
  <button ng-click="champions.check()">check</button>
</div>