.skill_bar {
  width:600px;
  height:50px;
  background:#313131;
  margin-bottom:5px;
  border: 2px solid #949494;
  border-radius: 2px;
}

.skill_bar_sub {
  width:400px;
  height:35px;
  background:#313131;
  margin-bottom:5px;
  text-align: center;
}

.skill_bar_progress {
  width:0%;
  height:100%;
  background: #62EECE;
  text-align: center;
}

.barText {
  color: white;
}

body {
  background-color: #060606;
}

.main {
  margin: 0 auto;
  width: 75%;
  position: relative;
  display: block;
  background-color: #1A1A1A;
}

.splash {
  
}

