.skill_bar {
  vertical-align: middle;
  display: inline-block;
  position: relative;
  float: right;
  width:600px;
  height:40px;
  background:#313131;
  margin-bottom:5px;
  border: 2px solid #949494;
  border-radius: 2px;
  margin-top: 40px;
}

.champlist{
  height: 120px;
}

.skill_bar_sub {
  width:300px;
  height:35px;
  background:#313131;
  margin-bottom:5px;
  text-align: center;
}

.skill_bar_progress {
  width:0%;
  height:100%;
  background: #571C78;
  text-align: center;
}

.barText {
  color: white;
  line-height: 40px;
}

body {
  background-color: #060606;
  font-family: 'Titillium Web', sans-serif;
}

button {
  background-color: #003241;
}

.btn-primary {
  background-color: #003241;
}

.main {
  margin: 0 auto;
  width: 75%;
  position: relative;
  display: block;
  background-color: #1A1A1A;
}

.mainButton {
  min-width: 150px;
  max-width: 250px;
  margin: 1em;
  padding: 1em 2em;
  color: white;
  border-radius: 10px;
  background-color: #571C78;
}

.season_select {
  width: 80px;
  height: 18px;
  color: white;
  background-color: black;
}

.select_group {
  width: 350px;
  margin: 0 auto;
}

#front_page_select {
  position: relative;
  top: -80px; 
  left: 30px;
}

.splash {
  display: block;
  max-width:200px;
  max-height:400px;
  width: auto;
  height: auto;
  float: left;
}

.sub_menu {
  margin-left: 180px;
  display: block;
  position: relative;
  color: #E8E8E8;
}

.modal-title {
  text-align: center;
  color: #E5E5E5;
}

.modal-content {
  background-color: #0A0A0A;
}

.modal-footer {
  border-top: 0px;
}

.topBar {
  display: inline-block;
  position: relative;
  margin: 0 auto;
  width: 100%;
}

li.ng-scope {
  list-style: none;
}

nav {

  width: 100%;
  margin: 0 auto;
  height: 40px;
  background-color: #281B44;
}

.navUl li{
  display: inline-block;
  margin: 0 80px;
  line-height: 34px;
}

#log_in_text {
  color: white;
  margin-left: 100px;
}
.champDiv {
  position: relative;
  display: block;
  max-width:450px;
  max-height:450px;
  width: auto;
  height: auto;
  margin: 0 auto;
  top: 200px;
  background: -webkit-radial-gradient(white, #373145 95%);
  border-radius: 225px;
}

.champLogo {
  max-width:400px;
  max-height:200px;
}

