.skill_bar {
  vertical-align: middle;
  display: inline-block;
  position: relative;
  float: right;
  width:600px;
  height:40px;
  background:#313131;
  margin-bottom:5px;
  border: 2px solid #949494;
  border-radius: 2px;
  margin-top: 40px;
}

.skill_bar_sub {
  width:300px;
  height:35px;
  background:#313131;
  margin-bottom:5px;
  text-align: center;
}

.skill_bar_progress {
  width:0%;
  height:100%;
  background: #571C78;
  text-align: center;
}

.barText {
  color: white;
  line-height: 40px;
}

body {
  background-color: #060606;
}

button {
  background-color: #003241;
}

.btn-primary {
  background-color: #003241;
}

.main {
  margin: 0 auto;
  width: 75%;
  position: relative;
  display: block;
  background-color: #1A1A1A;
}

.splash {
  display: block;
  max-width:200px;
  max-height:400px;
  width: auto;
  height: auto;
  float: left;
}

.sub_menu {
  margin-left: 180px;
  display: block;
  position: relative;
  color: #E8E8E8;
}

.modal-content {
  background-color: #0A0A0A;
}

.topBar {
  display: inline-block;
  position: relative;
  margin: 0 auto;
  width: 100%;
}

li.ng-scope {
  list-style: none;
}

nav {

  width: 100%;
  margin: 0 auto;
  height: 40px;
  background-color: #281B44;
}

.navUl li{
  display: inline-block;
  margin: 0 80px;
  line-height: 34px;
}

#log_in_text {
  color: white;
  margin-left: 200px;
}